* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

.card {
  /* border: 2px solid white; */
  background-color: maroon;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  text-align: center;
}