body {
  background: #000;
  color: #fff;
}

.nav {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: black;
}

.nav2 {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav2 h5 {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
  color: black;
}