body {
    background-color: black;
    color: white;
}


button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkgray;
}