* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

.parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  border: 0.5px solid gray;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.card img {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
}